
              
              @media only screen and (max-width: 600px), (max-width: 990px){
            .main_div {
                width: 100%;
                display: flex;
                flex-direction: column;}
            .main_div div{ margin-bottom: 5%;}
           

            .nav_div {display:grid;
                width: 100%;
            }

            .intro_div {
                background-image: url(C:/Users/rites/Desktop/project/resources/g.jpg);

                height: 200%;
                text-align: center;
            }
            .intro_div p { max-width: 80%;margin-left: 60px;}

            .logo {
                background-image: url("C:/Users/rites/Desktop/project/resources/bookshelf_verylow.png");background-size: cover; grid-area:1/1/4/2 ;
        }

        input[type=search] {
        width: 83%;
        height: 100%;
        background-color: #CDDC39;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        float: left;
    }

    .search_icon {
        width: 5%;
        height: 100%;
        background-image: url("C:/Users/rites/Desktop/project/resources/search_icon_low_size1.png");
        background-size: cover;
        float: right;
        background-color: #00BCD4;
    }
    .log_icon {
        background-image: url(C:/Users/rites/Desktop/project/resources/profile_verysmall.png);
        background-size: cover;
        width: 15%;
        float: right;
        height: 100%;
        margin: 0px;
    }

        .search_div{grid-area:5/1/5/4;}

        .log_div {grid-area: 1/3/4/4; height: 60px;}

        .log_icon{background-image: url(C:/Users/rites/Desktop/project/resources/profile_verysmall.png);}

        .book_div>div {
            width: 60%;
            min-height: 450px;
            margin:20px auto;
            text-align: justify;
            line-height: 40px;
        }
        .label_class {
        display: inline-block;
        width: 150px; }

            .book_div h3 {text-align: center;}

        .comic_div {
            background-image: url(C:/Users/rites/Desktop/project/resources/2.jfif);
        }
        .comic_div div {margin: 20px 100px;}

        .school_div {
            background-image: url(C:/Users/rites/Desktop/project/resources/3.jfif);
        }
        .school_div div {margin: 20px 100px;}

        .life_div {
            background-image: url(C:/Users/rites/Desktop/project/resources/4.jfif);
        }
        .life_div div {margin: 20px 100px;}

        input[type=submit] {
        width: 50%;
        height: 60%;
        background-color: #FF9800;
        color: white;
        padding: 6px 20px;
        border: none;
        border-radius: 50px;
        float: left;
        margin-left: 25%;
    }
    }


    @media(min-width: 992px),
(min-width: 1200px) {
    .main_div {
        font-family: 'Baloo Tamma 2', cursive;
        width: 1500px;
        height: 800px;
        background-color: #f2f2f2;
    }

    .nav_div {
        display: flex;
        width: 100%;
        height: 10%;
        background-image: linear-gradient(to right, red, yellow);
        ;
    }

    .intro_div {
        width: 100%;
        height: 30%;
        background-image: url(C:/Users/rites/Desktop/project/resources/self1.jpg);
        color: white;
        text-align: center;
        background-size: cover;
    }

    .intro_div p {
        width: 70%;
        margin: auto;
        font-size: 20px;
        line-height: 25px;
    }

    .book_div {
        width: 95%;
        height: 50%;
        margin: auto;
    }

    .book_div>div {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        margin: 1%;
        width: 20%;
        height: 60%;
        float: left;
        margin: 2% 3.5%;
        padding: 3%;
    }

    .log_icon {
        background-image: url(C:/Users/rites/Desktop/project/resources/profile.png);
        background-size: cover;
        width: 40%;
        float: right;
        height: 100%;
        margin: 0px;
    }

    .book_div h3 {
        margin: 0%;
    }

    .log_in {
        float: left;
    }

    .logo {
        width: 4%;
        height: 90%;
        margin-top: 8px;
        background-image: url(C:/Users/rites/Desktop/project/resources/logo1.png);
        background-size: cover;
    }

    .site_name {
        background-image: url(C:/Users/rites/Desktop/project/resources/bookshelf1.png);
        background-size: cover;
        width: 20%;
    }

    .search_div {
        width: 20%;
        height: 50%;
        margin-top: 1%;
        margin-left: 35%;
    }

    input[type=search] {
        width: 83%;
        height: 95%;
        background-color: #CDDC39;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        float: left;
    }

    .log_div {
        margin-top: 0%;
        margin-left: 12%;
        width: 10%;
        height: 70%;
        color: white;
        text-shadow: 2px 2px 6px #000000;
        padding: 10px 0px;
        font-size: 25px;
    }

    .search {
        float: left;
    }

    .search_icon {
        width: 15%;
        height: 100%;
        background-image: url(C:/Users/rites/Desktop/project/resources/search_icon_low_size1.png);
        background-size: cover;
        float: right;
        background-color: #00BCD4;
    }

    .label {
        display: inline-block;
        width: 200px;
    }

    .comic_div {
        background-image: url(C:/Users/rites/Desktop/project/resources/2.jfif);
        opacity: 0.9;

    }

    .school_div {
        background-image: url(C:/Users/rites/Desktop/project/resources/3.png);
        background-size: cover;
    }


    .life_div {
        background-image: url(C:/Users/rites/Desktop/project/resources/4.jpg);
        opacity: 0.8;
        background-size: cover;
    }

    .label_class {
        display: inline-block;
        width: 110px;
        text-align: right;
        margin-right: 3%;
    }

    input[type=submit] {
        width: 83%;
        height: 95%;
        background-color: #FF9800;
        color: white;
        padding: 6px 20px;
        border: none;
        border-radius: 50px;
        float: left;
        margin-left: 10%;
    }
}